<% include ./partials/header %>

<div id="startchange" class="container search-page">
    <div style="height: 150px;">
        <div class="prelude">
            <h3>Search Results for: "<%= query %>"</h3>
            <h3><%= numItems %> results</h3>
            <br>
        </div>
    </div>


<div style="margin: 100px auto">
     <% keys.forEach(function(key){ %>
    <div class="clearfix col-xs-12 col-sm-6">
        <div class="portfolio-item">
        <h2>
            <a href='/keys/<%= key._id%>' class="single-article"><%= key.title.toUpperCase() %></a>
        </h2>
        
        <p class="item-att"><%= key.description.substring(0, 200) + "..." %><a class="keys-link" href='/keys/<%= key._id%>'>Read more</a>
        </p>
        <div class="tags-article">
                <% if (key.tags.length == 1) { %>
                    <% var allCurrentTags = key.tags[0].split(', ') %>
                        <form role="search" action="/search">
                            <p class="tags">Tags: </p>
                            <% for(var i = 0;i<3;i++) { %>
                                <a href="/search?query=<%= allCurrentTags[i] %>" class="tags link-tags"><%= allCurrentTags[i] %></a>
                            <% } %>
                            <!-- <button type="button" data-toggle="popover" data-html="true" data-content="i"></button> -->
                            <a href="/keys/<%= key._id%>" class="circle-tags">+<%= allCurrentTags.length - 3 %></a>
                        </form>

                        <!-- uncomment code above when issue is resolved  -->
                <% } else { %>

                    <form role="search" action="/search">
                        <p class="tags">Tags: </p>
                        <% for(var i = 0;i<3;i++) { %>
                            <a href="/search?query=<%= key.tags[i] %>" class="tags link-tags"><%= key.tags[i] %></a>
                        <% } %>
                        <!-- <button type="button" data-toggle="popover" data-html="true" data-content="i"></button> -->
                        <a href="/keys/<%= key._id%>" class="circle-tags">+<%= key.tags.length - 3 %></a>
                    </form>
                <% } %>
            </div>
        </div>        
    </div> 
    <% }); %>

</div>


<% include ./partials/footer %>
