<% include ./partials/header %>

<div id="landing-header" style="height: 500px">
    <div class="prelude">
        <h1 style="padding: 18vh">Search Results</h1>
        <br>
    </div>
</div>

<div class="container" style="margin: 100px auto">
     <% items.forEach(function(item){ %>
    <div class="clearfix col-xs-12 col-sm-6">
        <div class="portfolio-item">
        <h2><a href='/items/<%= item._id%>' class="single-article"><%= item.title.toUpperCase() %></a></h2>
        <p class="item-att"><%= item.description %></p>
        <a style="color:#ffd15e;font-weight:bold;font-size: 16px" href="<%= item.link %>" class="Key-att">Link</a>
        <p class="Key-att"><%= item.sourceAuthor %></p>
        <p>Tags</p>
        <% if (item.tags.length == 1) { %>
            <% var newArray = item.tags[0].split(', ') %>
            <% newArray.forEach(function(tag) { %>
                <button class="btn-tags"><%= tag %></button>
            <% }); %>

        <!-- uncomment code above when issue is resolved  -->
         <% } else { %>
            
            <% item.tags.forEach(function(tag) { %>
                <button class="btn-tags"><%= tag %></button>
            <% }); %>

        <% } %> 
        </div>
    </div> 
    <% }); %>

</div>


<% include ./partials/footer %>
