<% include ../partials/header %>

<div id="landing-header" style="height: 500px">
    <div class="prelude">
        <h1 style="padding: 18vh">Keys</h1>
        <br>
    </div>
</div>

<div class="container" style="margin: 100px auto">
     <% keys.forEach(function(key){ %>
    <div class="clearfix col-xs-12 col-sm-6">
        <div class="portfolio-item">
        <h2><a href='/keys/<%= key._id%>' class="single-article"><%= key.title.toUpperCase() %></a></h2>
        <p class="Key-att"><%= key.description %></p>
        <a style="color:#ffd15e;font-weight:bold;font-size: 16px" href="<%= key.link %>" class="Key-att">Link</a>
        <p class="Key-att"><%= key.sourceAuthor %></p>
        <p>Tags</p>
        <% if (key.tags.length == 1) { %>
            <% var newArray = key.tags[0].split(', ') %>
            <% newArray.forEach(function(tag) { %>
                <button class="btn-tags"><%= tag %></button>
            <% }); %>

        <!-- uncomment code above when issue is resolved  -->
         <% } else { %>
            
            <% key.tags.forEach(function(tag) { %>
                <button class="btn-tags"><%= tag %></button>
            <% }); %>

        <% } %> 
        </div>
    </div> 
    <% }); %>

</div>

<% include ../partials/footer %>
